<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>sending email using nodejs and angularjs | jsonworld</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
      .logo img {
        height:66px;
        width:180px;
      }

    .page-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:#a9a8a8;
      color: white;
      height: 50px;
      padding: 10px;
      text-align: right;   
    }      
      </style>
  </head>
    <body ng-app="sendmailApp" ng-controller="MailController">
        <div class="container-fluid" style="background-color:#a9a8a8;">
            <div class="col-md-6">
              <a class="logo" href="https://jsonworld.com">
                <img src="https://www.jsonworld.com/assets/images/sidebar-logo.png" alt="logo" />
              </a>
            </div>  
            <div class="col-md-6" style="text-align:right; font-size:25px; padding-top:10px;">
                <p><a href="https://jsonworld.com">Sendig email using angularjs and nodejs.</a></p>
              </div>    
          </div>
        <div class="container">
                    
            <div style="text-align:center"><i class="material-icons center large">email</i>
              <h1 class="header orange-text">Email Us</h1>
              <div ng-cloak ng-if="serverMessage"><i class="material-icons center">done</i>{{serverMessage}}</div>
              <div class="row">
                  <div class="col-md-6 col-md-offset-3" >
                      <div class="form-group">
                        <input type="email" class="form-control" ng-model="mail.to" placeholder="enter email address" />
                      </div>
                    </div>      

              </div>
              <div class="row" style="text-align:center">
                  <div class="col-md-6 form-group col-md-offset-3">
                      <textarea ng-model="mail.message" class="form-control"></textarea>
                  </div>
                  </div>       
                  <div class="row" style="text-align:center">
                      <div class="col-md-6 col-md-offset-3">
                          <button ng-click="send(mail)" class="form-control btn-primary">
                            Send Mail</button>
                      </div>
                    
                  </div>       
              
            </div>              
            </div>          
          </div>      
          <footer class="page-footer orange">
            <div class="footer-copyright">
              <div class="container center">
              Source  <a class="" href="http://jsonworld.com">jsonworld.com</a>
              </div>
            </div>
          </footer>

  <!--  Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  </body>
</html>
